


/*===================*/
/*     HTML/BODY     */
/*===================*/





html{
    color: #dedede;   
}

body{ 
    box-sizing:border-box;    
    font-family: 'Abel', sans-serif;
    background-color: black;
}



    
 





/*============================*/
/*       NAVBAR SECTION       */
/*============================*/




.navwrap{
    height: 100px;
    background-color: black;
    
}

#logo{
    float:left;
    height: 100px;
    width:6%;
    margin-top: -15px;
    padding-right: 4%;  
}




.navbar{
    margin-top:30px;
    display: inline-block;
    list-style-type: none;
    padding-bottom: 5px;
    color:#ffffff;
    width: 97%;
    height: 30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010101+2,4e4e4e+52,0a0a0a+99&0.86+0,1+100 */
background: -moz-linear-gradient(top, rgba(1,1,1,0.86) 0%, rgba(1,1,1,0.86) 2%, rgba(78,78,78,0.93) 52%, rgba(10,10,10,1) 99%, rgba(10,10,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,1,1,0.86)), color-stop(2%,rgba(1,1,1,0.86)), color-stop(52%,rgba(78,78,78,0.93)), color-stop(99%,rgba(10,10,10,1)), color-stop(100%,rgba(10,10,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db010101', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */
}

.navbuttons{
    display: inline-block;
    float: left;
    text-align: center;
    width: 9.125%;
    font-size: 14px;  
    
}

a{
    color: #568aff;
    text-decoration: none;
}

a:hover{
    color: #407ccc;
}

.socialmedia{
    width:30px;
    display: inline-block;
    padding-right: 35px;
    margin-top:-6px;
}

.navwords{
    background-color: transparent;
    margin-top: 6px;
    font-size: 17px;
}










/*=====================*/
/*     MAIN SECTION    */
/*=====================*/



#main {
    width: 100%;
    margin-top: -30px;    
    height: auto;
}

.mainTitles{
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    
}

.subHeaders{
    text-align: center;
    margin: auto;
    clear: both;
    padding-top: 100px;
}

#name{
    position: absolute;
    text-align: center;
    font-size: 40px;
    
    margin-left: 60%;
}
    
#upright{
    width: 100%;
    height: auto;
    
}
 
#mainContent{
    
    margin-left: 15%;
    margin-right: 15%;
    
    height:1950px;
}


#contactInfo{
    text-align: center;
    font-size: 20px;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010101+2,4e4e4e+52,0a0a0a+99&0.86+0,1+100 */
background: -moz-linear-gradient(top, rgba(1,1,1,0.86) 0%, rgba(1,1,1,0.86) 2%, rgba(78,78,78,0.93) 52%, rgba(10,10,10,1) 99%, rgba(10,10,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,1,1,0.86)), color-stop(2%,rgba(1,1,1,0.86)), color-stop(52%,rgba(78,78,78,0.93)), color-stop(99%,rgba(10,10,10,1)), color-stop(100%,rgba(10,10,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db010101', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */
    clear: both;
}





/*====================*/
/*     Audio Page     */
/*====================*/


ul{
    list-style-type: none;
}



.audioLink{
    text-align: center;
    padding-right: 4%;
}







 

/*================*/
/*   VIDEO PAGE   */
/*================*/





.vidTable{
    width: 100%;
}

.vidCells{
    
    height:300px;
}

.vids{
    width: 100%;
    height: 300px;
}



.kennedyCenter{
    padding-right: 5%;
    line-height: 30px;
    text-align: center;
}

#kennedy{
    margin: auto;
}








/*=====================*/
/*     DISCOGRAPHY     */
/*=====================*/


.discographyPics{
    width: 250px;
    height: 250px;
    float: left;
    margin: 20px;
    margin-left: 30px;
}

.discographyPics:hover{}







/*========================*/
/*     PHOTOS SECTION     */
/*========================*/



.gallery{
    
    max-width: 100%;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    height: auto;
    float: left;
    
}

.portraitGallery{
    width: 30%;
    height: auto;
    margin-left: 13.33%;
    margin-top: 20px;
    float: left;
    max-width: 100%;
    max-height: 100%;
}

#lastPortrait{
    clear: both;
}

#secondLandscape{clear: both;}


.clearPics{
    clear: left;
    max-width: 100%;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    height: auto;
    float: left;
}









/*=======================*/
/*     ABOUT ARTICLE     */
/*=======================*/




.aboutParagraphs{
    
    text-align: justify;
}

#whiteHouse{
    width: 100%;
    max-width: 100%;    
    overflow: hidden;
}

#senegal{
    width: 40%;
    
}



#p2{
    width: 50%;
    float: left;
    margin-right: 5%;
}

#p3{
    width:100%;
    clear: both;
    
}

#p4{
    width: 100%;
    
}

#p5{
    width: 100%;
    float: left;
    clear: both;
    
}



cite{
    clear: both;
}






/*=======================*/
/*     MOBILE STYLES     */
/*=======================*/



@media screen and (max-width: 600px) and (min-width: 0px){
    
    
    
    /*========*/
    /* NAVBAR */
    /*========*/
    
    #logo{
        display: none;
        
        padding-right: 0%;
    }
    
    
    .navwords{
       font-size: 16px;
    }
    
    .navbuttons{
        
        margin-right:20%;
        float: left;
    }
    
    

    .navbar{
        width: 100%;  
        margin: 0 auto;
        height: 60px;
    }

    .navwrap{
        margin-top: 10px;
    }
    
    
    /*========*/
    /* VIDEOS */
    /*========*/
    
    .vidcells{
        width: 100%;
        float: left;        
    }
    
    .vids{
        width: 100%;
        float: left;
    }
    
    .socialmedia{
        width: 0%;
    }
    
    tr{
        clear: both;
    }
    
    
    
    /*=====================*/
    /*     MAIN SECTION    */
    /*=====================*/
    
    #main: {
        width: 100%;
    }
    
    #mainContent{
        
        width 100%;
    }
    
    #header{
        font-size: 15px;
    }
    .subHeaders{
        padding-top: 10px;
    }
    
    
    
    /*=======================*/
    /*     ABOUT ARTICLE     */
    /*=======================*/
    
    #p1{
        width: 100%;   
        float: none;
    }
    
    #p2{
        width: 100%;
        float: none;
    }
    
    #p3{
        width: 100%;
        float: none;
    }
    
    #p4{
        width: 100%;
        float: none;
    }
    #p4Break{
        width: 100%;
    }
    
    #p5{
        width: 100%;
        float: none;
    }
    
    #senegal{
        width: 100%;
        float: none;
    }
    
    #whiteHouse{
        width: 100%;
        float: none;
        margin-top: 0px;
        margin-left: 0;
        margin-right: 0; 
    }
    
    
    
    
    .audioLink{
        padding-right: 10%;
    }
}
