







/*===================*/
/*     HTML/BODY     */
/*===================*/





html{
    color: #dedede;   
}

body{ 
    box-sizing:border-box;    
    font-family: 'Abel', sans-serif;
    background-color: black;
    display: none;
}

#logoMobile{
    display: none;
   
}






/*============================*/
/*       NAVBAR SECTION       */
/*============================*/


#logo1{
    display: none;
}


.navwrap{
    height: 100px;
    background-color: black;
    
}

#logo{
    float:left;
    height: 90px;
    width:6%;
    margin-top: -15px;
    padding-right: 4%;  
}

.navbar{
    margin-top:30px;
    display: inline-block;
    list-style-type: none;
    padding-bottom: 5px;
    color:#ffffff;
    width: 97%;
    height: 30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010101+2,4e4e4e+52,0a0a0a+99&0.86+0,1+100 */
background: -moz-linear-gradient(top, rgba(1,1,1,0.86) 0%, rgba(1,1,1,0.86) 2%, rgba(78,78,78,0.93) 52%, rgba(10,10,10,1) 99%, rgba(10,10,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,1,1,0.86)), color-stop(2%,rgba(1,1,1,0.86)), color-stop(52%,rgba(78,78,78,0.93)), color-stop(99%,rgba(10,10,10,1)), color-stop(100%,rgba(10,10,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db010101', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */
}

.navbuttons{
    display: inline-block;
    float: left;
    text-align: center;
    width: 9.125%;
    font-size: 14px;  
    
}

a{
    color: #568aff;
    text-decoration: none;
}

a:hover{
    color: #407ccc;
}

.socialmedia{
    width:30px;
    display: inline-block;
    padding-right: 35px;
    margin-top:-6px;
}

.navwords{
    background-color: transparent;
    margin-top: 6px;
    font-size: 17px;
}









/*=====================*/
/*     MAIN SECTION    */
/*=====================*/





#main {
    width: 100%;
    margin-top: -30px;    
}

#name{
    position: absolute;
    text-align: center;
    font-size: 70px;
    opacity: 0.9;
    margin-left: 18%;
}
    
#portrait{
    max-width: 100%;
    max-height: 100%;
    width: 40%;
    height: auto;
    margin-left: 60%;
}


#blurb{
    text-align: justify;
    position: absolute;
    margin-left: 20%;
    width: 25%;
    height: auto;
    margin-top: 16%;
    font-size: 20px;
}

h2{
    position: absolute;
    margin-top: 10%;
    margin-left: 21%;
    font-size: 30px;
    opacity: 0.9;
    font-style: italic;
}


#contactInfo{
    text-align: center;
    font-size: 20px;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010101+2,4e4e4e+52,0a0a0a+99&0.86+0,1+100 */
background: -moz-linear-gradient(top, rgba(1,1,1,0.86) 0%, rgba(1,1,1,0.86) 2%, rgba(78,78,78,0.93) 52%, rgba(10,10,10,1) 99%, rgba(10,10,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,1,1,0.86)), color-stop(2%,rgba(1,1,1,0.86)), color-stop(52%,rgba(78,78,78,0.93)), color-stop(99%,rgba(10,10,10,1)), color-stop(100%,rgba(10,10,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(1,1,1,0.86) 0%,rgba(1,1,1,0.86) 2%,rgba(78,78,78,0.93) 52%,rgba(10,10,10,1) 99%,rgba(10,10,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db010101', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */
}













/*===================================*/
/*           MOBILE STYLES           */
/*===================================*/







@media screen and (max-width: 600px) and (min-width: 0px){
    
    
    
    /*============================*/
    /*       NAVBAR SECTION       */
    /*============================*/
    
    
    .navwrap{
        margin-top: 10px;
    }
    
    #logo{
        display: none;
    }
    
    #logoMobile{
        display:block;
        position: absolute;
        height: 30px;
        margin-top: 20px;
        
    }
    
    .navwords{
       font-size: 16px;
    }
    
    .navbuttons{
        
        margin-right:20%;
    }
    
    

    .navbar{
        width: 100%;  
        margin: 0 auto;
        height: 60px;
    }
    
  
    
    
    
    
    /*=====================*/
    /*     MAIN SECTION    */
    /*=====================*/
    
    #name{
        font-size: 25px;
        margin-top: -10px;
        margin-left: 55%;
    }
    
    #blurb{
        width: 95%;
        margin: 0 auto;
        margin-top: 65%;
    }
    
    #upright{
        clear: both;
    }
     
}

